body {
  margin: 0px;
  display: grid;
  grid-template-columns: 25% 75%;
}

#leftCol {
  background-color: #3D9970;
  padding: 1em;
  min-width: 221px;
  min-height: 95vh;
}

#rightCol {
  text-align: left;
  padding: 2em;
  min-width: 760px;
}

h1 {
    text-align: justify;
    font-family: 'Fjalla One', sans-serif;
    font-size: 70px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.5em;
    color: #001f3f;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
    font-size: 1.2em;
    margin: 1em 0 0.25em;
    -webkit-margin-before: 0.4em;
    -webkit-margin-after: 0.2em;
    color: #FFDC00;
}

p {
  font-family: 'Quicksand', sans-serif;
  color: #001f3f;
}

form, label, input {
  font-family: 'Quicksand', sans-serif;
  color: #001f3f;
  display: block;
  -webkit-margin-after: 0.4em;
  -webkit-margin-before: 0.4em;
}

input:nth-of-type(2) {
  -webkit-margin-after: 1em
}

input[type=submit] {
    color: #3D9970;
    padding:5px 15px;
    background-color: #001f3f;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

input[type=color] {
    padding:5px 15px;
    background-color: #001f3f;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

table {
  display: inline-block;
  border-collapse: collapse;
  border-spacing: 0px;
}

td {
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
    height: 1.3rem;
    width: 1.3rem;
    border: 1px solid black;
    vertical-align: top;
    background-color: white;
}

@media (orientation: portrait), (max-width: 990px) {
    body {
        display: block;
      }

    #leftCol {
      min-height: 0px;
    }

    #rightCol {
      padding: 1em;
    }

    h1 {
      -webkit-margin-after: 0em;
    }

    p {
      display: none;
    }
    
    form, label, input {
      display: inline-block;
    }

    td {
        display: inline-block;
        border-collapse: collapse;
        border-spacing: 0px;
        height: 0.9rem;
        width: 0.9rem;
        border: 1px solid black;
        vertical-align: top;
        background-color: white;
    }

  }
