body {
    text-align: center;
    align-content: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table {
  display: block;
  border-collapse: collapse;
  border-spacing: 0px;
  min-width: 80rem;
  min-height: 80rem;
}

td {
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
    height: 1.3rem;
    width: 1.3rem;
    border: 1px solid black;
    vertical-align: top;
    background-color: white;
}
